.conteudo{
  display: flex;
  flex-direction: column;
   align-content: center; 
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.resultados{
  margin-top: 50px;
  display: flex;
  width: 50vw;
  justify-content:space-around;  
  flex-direction: row;
  background-color: #dfdfdf;
  border: 2px solid green;
}

.dd1,.dd2{
  display: flex;
  flex-direction: column;
}

input{
  width: 200px;
  height: 40px;
}
button{
  width: 60px;
  height: 45px;
}
.buscar{ 
  gap: 10px;
  display: flex;
  align-items: center;
  font-size:1em;
}
h1{
  color: #b1aeae;
}
span{
  color: lightblue;
}